h1 {
  color: #232ED1;
  font-size: 70px;
  text-align: center;
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: #427aa1;
  text-shadow: 2px 2px 2px #f75c03;
}

h1:hover{
  color: #f75c03;
  text-shadow: 2px 2px 2px #232ED1;
}

img {
  width: 40%;
  border: dotted orange;
}

img:hover{
  width: 60%;
  transform: scaleX(-1);
}

body {
  background-color: grey;
}

li {
  float: left;
  
}

li a {
  display: block;
  color: orange;
  text-align: center;
  padding: 14px 16px;
}

li a:hover {
  font-family: ariel, sans-serif;
  background-color: white;
  color: black;
}
